In [6]:
import pandas as pd
import numpy as np
import spotipy

In [7]:
sp = spotipy.Spotify()

In [9]:
artists = pd.read_csv('Artists.csv')
artists.head()

           artistname  artistid  Total tracks
0     Ella Fitzgerald       133          1260
1  Party Tyme Karaoke    420803           809
2      Billie Holiday        49           765
3        Neil Diamond        35           603
4                Kiss       298           600

In [10]:
for i in range(len(artists))
    result = sp.search(q=artistname[i], limit = 1)
    print(result)

NameError: name 'artistname' is not defined