In [16]:
import sqlite3
import pandas as pd

In [17]:
conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute("create table test(id, title, duration, explicitContent, popularity);")
c.execute("insert into test(id, title, duration, explicitContent, popularity) values ('249248', 'Finale', '350', 'false', '0.1')")
c.execute("insert into test(id, title, duration, explicitContent, popularity) values ('249258', 'Finale', '350', 'false', '0.3')")
conn.commit()

In [39]:
c.execute('SELECT id, popularity FROM test')
c.fetchall()

[('249248', '0.1'), ('249258', '0.3')]

Empty DataFrame
Columns: []
Index: []